<style>
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width:30%;
  padding: 35px 10px 10px 10px;
  border:1px solid black;
  position:relative;
  margin:10px 0px 10px 10px;
  font-size: 30px;
  outline-width:20px;
  }

.row:after {
  content: "";
  display: table;
  clear: both;
}

h1{
background-color:white;
text-align:center;
font-size: 60px;}

h2{
background-color:red;
display:flex;
justify-content:flex-end;
padding:5px;
position:absolute;
top:-35px;
right:0px;
border:1px solid black;
font-size: 40px;}

.h3{background-color:pink;
}
.h4{color:white;
}
.h5{background-color:yellow;
}

@media screen and (min-width: 992px) {
  .column {
    width: 30%;
  }
  .column3{
    width:30%;}

}
@media screen and (max-width: 991px) {
  .column {
    width: 45.5%;
  }
  .column3{
    width:95%;
  }

}

@media screen and (max-width: 767px) {
  .column {
    width: 95%;}
}
</style>